/* Custom reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.container {
    margin: 0 auto;
    background-color: #e2dba5;
    width: 1370px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    background-color: #ff6932;
    width: 1370px;
}
.header nav {
    padding: 20px;
    margin-left: 128px;
}
header nav a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 25px;
    margin-left: 20px;
}
.box {
    background-color: rgb(68 123 204 / 96%);
    width: 300px;
    height: 400px;
    box-shadow: 10px 10px 10px 0 rgb(91, 91, 91);
}
.sec {
    margin: 50px 169px;
}
ol {
    list-style: decimal;
    padding: 40px;
    line-height: 1.7;
    color: #e2dba5;
}
ul {
    list-style: disc;
    padding: 40px;
    color: #e2dba5;
}
.ol-2 {
    padding: 0;
    margin-left: 32px;
}
.li {
    margin-top: -40px;
}
.ul-2 {
    padding-top: 0;
    list-style: square;
}
.li-2 {
    list-style-type: none;
    list-style-image: url() ;
}
.h2 {
    font-size: 30px;
    font-weight: 500;
    color: rgb(37, 3, 3);
    margin-left: 144px;
    font-family: none;
    margin-top: 30px;
}
.h3 {
    font-size: 30px;
    font-weight: 500;
    color: rgb(37, 3, 3);
    margin-left: 144px;
    font-family: none;
}
.p {
    color: rgb(120, 107, 107);
    margin-left: 188px;
    margin-right: 136px;
    font-weight: 500;
    margin-top: 20px;
}
.footer {
    width: 1251px;
    background-color: rgb(15, 13, 8);
    margin-top: 35px;
}
.footer nav {
    padding: 20px;
    margin-left: 120px;
}
.footer nav a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
}